@model IEnumerable<AulaPesquisar.Pessoa>

@{
    ViewData["Title"] = "Index";
    <div class="card">
        <div class="card-header">
            <strong>Pesquisar Pessoas</strong>
        </div>
        <div class="card-body"> 
           <form action="/Pessoas/Index" method="get" > <!--metodo de pesquisa, envia via url-->
               <div class="row"> <!--pra usar o bootstrap -->
                   <a href="/Pessoas/Create" class="btn btn-dark">
                       Novo
                   </a>
                    <select name="itembusca" class="form-control ml-2 mr-2 col-2">
                        <option value="Todos">Todos</option>
                        <option value="Nome">Por Nome</option>
                        <option value="Idade">Por Idade </option>
                        <option value="CPF">Por CPF</option>
                        <option value="RG">Por RG</option>
                    </select>
                   <label class=" col-2 mr-1 ml-1 mt-2" >Digite sua busca</label>
                   <input type="text" name="query" class="form-control col-4"/>
                   <button type="submit"class="btn btn-success col-2 ml-2">
                       Pesquisar
                   </button>
               </div>
           </form>
        </div>
    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Idade
            </th>
            <th>
                C.P.F.
            </th>
            <th>
               Registro Geral
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rg)
            </td>

            <td>
                <a href="/Pessoas/Edit/@item.Id" class="btn btn-warning">
                    Editar Pessoa
                </a>

                <a href="/Pessoas/Delete/@item.Id" class="btn btn-danger">
                    Excluir Pessoa
                </a>
            </td>
                        
        </tr>
}
    </tbody>
</table>
